[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
flask = "*"
mysqlclient = "*"
setuptools = "*"
python-dotenv = "*"

[dev-packages]
awscli = "*"

[requires]
python_version = "3.6"
